# Se llenan ambas con tu API Key
GEMINI_API_KEY=
GOOGLE_GENERATIVE_AI_API_KEY=
FASTAPI_BASE_URL= # Se recomienda http://localhost:8000

NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_URL= # Se recomienda http://127.0.0.1:54321